---
layout: archive
author_profile: true
header:
 image: 5295.png
---

  <style>
   .projects {
    color: #323232; /* Цвет символа */
    font-size: 75%; /* Размер шрифта */
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
   } 

  </style>

{% include base_path %}


<h3 class="archive__subtitle"> Team member </h3>

<p class="projects"> Analytics: Adaptive data analytics and modelling for flexible power systems, Academy of Finland, University of Eastern Finland, Kuopio, 2019 – 2020 </p>

<p class="projects"> DWDSOME: Microbial Interaction in Drinking Water Distribution System, Academy of Finland, University of Eastern Finland, Kuopio, 2018 </p>

<p class="projects"> Joint Russian-Slovenian research project “Evolutionary and Bio-Inspired Algorithms-based Efficient Control of Cyber-physical Systems & Internet of Things”, 2016 – 2018, SibSAU – Maribor University (Slovenia), Slovenian Academy of Science project </p>

<p class="projects"> Joint Russian-German research project “Distributed intelligent systems of multilingual information processing in dialogue telecommunication systems”, SibSAU – Ulm University (Germany), 2011 – 2013, governmental contract </p>

<p class="projects"> Joint Russian-German research project “Models and algorithms for the automated design of hardware-software complexes of multilingual information intelligent processing in distributed high-performance systems of space mission”, SibSAU – Ulm University (Germany), 2011 – 2013, governmental contract </p>

<h3 class="archive__subtitle"> Project leader </h3>

<p class="projects"> EDUFI Fellowship: a start-up grant for doctoral level students for 9 months, University of Eastern Finland, Kuopio, 2018 </p>

<p class="projects"> Joint Russian-Finnish research project “Multi-objective design of predictive models with compact interpretable strictures in epidemiology”, SibSU – UEF, Russian Foundation for Basic Research and Government of Krasnoyarsk region, 2018 – 2020 </p>

<p class="projects"> Cooperative multi-objective evolutionary algorithms in dynamic system identification problems, Presidential Fellowship for young scientists to perform advanced research in priority areas of the Russian economy, 2018 – 2020 </p>

<p class="projects"> Automatic segmentation of the heart's left ventricle in magnetic resonance imaging based on the clustering approach, Russian Foundation for Basic Research and Government of Krasnoyarsk region, 2016 – 2018 </p>

<p class="projects"> Speech-based speakers and speakers’ personal characteristics recognition, Foundation for Assistance to Small Innovative Enterprises, Russia, 2014 – 2016 </p>


{% for post in paginator.posts %}
  {% include archive-single.html %}
{% endfor %}

{% include paginator.html %}
