---
layout: archive
author_profile: true
header:
 image: 5295.png
---

{% include base_path %}

  <style>
   .publication {
    color: #323232; /* Цвет символа */
    font-size: 75%; /* Размер шрифта */
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
   } 

  </style>

<h3 class="archive__subtitle"> Journal articles </h3>
<body>
<div>

 <p class="publication"> Brester C., Ryzhikov I., Siponen S., Jayaprakash B., Ikonen J., Pitkänen T., Miettinen I.T., Torvinen E., Kolehmainen M. (2020) <b>Potential and limitations of a pilot-scale drinking water distribution system for bacterial community predictive modelling.</b> <i>Sci Total Environ.</i> 717:137249. doi: 10.1016/j.scitotenv.2020.137249. [<a target="_blank" href="https://www.sciencedirect.com/science/article/pii/S0048969720307592">link</a>] </p>


 <p class="publication"> Brester C., Kauhanen J., Tuomainen T.-P., Voutilainen S., Rönkkö M., Ronkainen K., Semenkin E., Kolehmainen M. (2018) <b>Evolutionary methods for variable selection in the epidemiological modeling of cardiovascular diseases.</b> <i>BioData Min.</i> 11:18. doi: 10.1186/s13040-018-0180-x. [<a target="_blank" href="https://biodatamining.biomedcentral.com/articles/10.1186/s13040-018-0180-x">link</a>] </p>
 

  <p class="publication"> Brester Ch., Ryzhikov I., Semenkina O. (2018) <b> Generic scheme of a restart meta-heuristic operator for multi-objective genetic algorithms. </b> <i> International Journal on Information Technologies and Security. </i> Vol. 10, no. 2, pp. 101-110. [<a target="_blank" href="/documents/brester_IJITS_2018_no2.pdf">pdf</a>] </p>
  

  <p class="publication"> Brester C., Semenkin E., Sidorov M. (2016) <b> Multi-objective heuristic feature selection for speech-based multilingual emotion recognition. </b> <i> Journal of Artificial Intelligence and Soft Computing Research. </i> Vol. 6, no. 4, pp. 243-253. [<a target="_blank" href="/documents/brester_poland_2016.pdf">pdf</a>] </p>


</div>
<bode>

<h3 class="archive__subtitle"> Conference papers </h3>
<body>
	<div>


<p class="publication"> Brester C., Niska H., Ciszek R., Kolehmainen M. (2020) <b>Weather-based fault prediction in electricity networks with artificial neural networks.</b> <i>IEEE World Congress on Computational Intelligence (IEEE WCCI).</i> Accepted </p>
 
<p class="publication"> Brester C., Ryzhikov I., Semenkin E., Kolehmainen M. (2019) <b>On a restart metaheuristic for real-valued multi-objective evolutionary algorithms.</b> <i>Genetic and Evolutionary Computation Conference (GECCO) (Companion),</i> pp. 197-198. </p>
 
<p class="publication"> Brester C., Stanovov V., Voutilainen A., Tuomainen T.-P., Semenkin E., Kolehmainen M. (2019) <b>Evolutionary fuzzy logic-based model design in predicting coronary heart disease and its progression.</b> <i>11th International Joint Conference on Computational Intelligence (IJCCI),</i> pp. 360-366. </p>
 
<p class="publication"> Brester C., Ryzhikov I. (2019) <b>Tuning parameters of differential evolution: self-adaptation, parallel Islands, or co-operation.</b> <i>11th International Joint Conference on Computational Intelligence (IJCCI),</i> pp. 259-264. </p>
 
<p class="publication"> Brester C., Ryzhikov I., Tuomainen T.-P., Voutilainen A., Semenkin E., Kolehmainen M. (2018) <b>Multi-objective approach for support vector machine parameter optimization and variable selection in cardiovascular predictive modeling.</b> <i>5th International Conference on Informatics in Control, Automation and Robotics (ICINCO),</i> vol. 1, pp. 209-215. </p>
 
<p class="publication"> Brester C., Ryzhikov I., Semenkin E., Kolehmainen M. (2018) <b>On island model performance for cooperative real-valued multi-objective genetic algorithms.</b> <i>9th International Conference on Swarm Intelligence (ICSI),</i> vol. 1, pp. 210-219. </p>

<p class="publication"> Brester C., Ryzhikov I., Semenkin E. (2017) <b>On performance improvement based on restart meta-heuristic implementation for solving multi-objective optimization problems.</b> <i>8th International Conference on Swarm Intelligence (ICSI),</i> vol. 2, pp. 23-30. </p>

<p class="publication">	Brester C., Kauhanen J., Tuomainen T.P., Semenkin E., Kolehmainen M. (2016) <b>Comparison of two-criterion evolutionary filtering techniques in cardiovascular predictive modelling. </b> <i> Proceedings of the 13th International Conference on Informatics in Control, Automation and Robotics (ICINCO’2016), Lisbon, Portugal. </i>  Vol. 1, pp. 140-145. [<a target="_blank" href="/documents/brester_icinco_2016_1_2.pdf">pdf</a>] </p>

<p class="publication">	Semenkina M., Akhmedova S., Brester C., Semenkin E. (2016) <b> Choice of spacecraft control contour variant with self-configuring stochastic algorithms of multi-criteria optimization. </b> <i> Proceedings of the 13th International Conference on Informatics in Control, Automation and Robotics (ICINCO’2016), Lisbon, Portugal. </i> Vol. 1, pp. 281-286. [<a target="_blank" href="/documents/brester_icinco_2016_1_1_2.pdf">pdf</a>] </p>

<p class="publication">	 Sidorov M., Brester C., Ultes S., Schmitt A. (2016) <b> Salient cross-lingual acoustic and prosodic features for English and German emotion recognition. </b> <i> Proceedings of the 7th International Workshop On Spoken Dialogue Systems (IWSDS), Lapland, Finland. </i> [<a target="_blank" href="/documents/brester_iwsds_2016_1_2.pdf">pdf</a>] </p>

<p class="publication"> Brester C., Semenkin E. (2015) <b> Cooperative Multi-Objective Genetic Algorithm with Parallel Implementation. </b> <i> Advances in Swarm and Computational Intelligence. </i> Part I, LNCS 9140, pp. 471–478. [<a target="_blank" href="/documents/brester_icsi_2015_1_2.pdf">pdf</a>] </p>

<p class="publication">	Sidorov M., Brester C., Schmitt A. (2015) <b> Contemporary stochastic feature selection algorithms for speech-based emotion recognition. </b> <i> Proceedings of INTERSPEECH 2015, Dresden, Germany, </i> pp. 2699-2703. [<a target="_blank" href="/documents/brester_interspeech_2015.pdf">pdf</a>] </p>

<p class="publication">	Brester C., Semenkin E., Sidorov M., Semenkina O. (2015) <b> Multicriteria neural network design in the speech-based emotion recognition problem. </b> <i> Proceedings of the 12th International Conference on Informatics in Control, Automation and Robotics (ICINCO’2015), Colmar, France. </i> Vol. 1, pp. 621–628. [<a target="_blank" href="/documents/brester_icinco_2015_1_2.pdf">pdf</a>] </p>

<p class="publication"> Brester C., Semenkin E., Sidorov M., Kovalev I., Zelenkov P. (2015) <b> Evolutionary feature selection for emotion recognition in multilingual speech analysis. </b> <i> Proceedings of IEEE Congress on Evolutionary Computation (CEC2015), Sendai, Japan, </i> pp. 2406–2411. [<a target="_blank" href="/documents/brester_cec_2015_1_2.pdf">pdf</a>] </p>

<p class="publication"> Brester C., Semenkin E., Sidorov M. (2014) <b> Acoustic Emotion Recognition: Two Ways of Features Selection based on Self-Adaptive Multi-Objective Genetic Algorithm. </b> <i> Proceedings of the 11th International Conference on Informatics in Control, Automation and Robotics (ICINCO’2014), Vienna, Austria. </i> Vol. 2, pp. 851–855. [<a target="_blank" href="/documents/brester_icinco_2014_1_1_2.pdf">pdf</a>] </p>

<p class="publication"> Sidorov M., Brester C., Minker W., Semenkin E. (2014) <b> Speaker State Recognition with Neural Network-based Classification and Self-adaptive Heuristic Feature Selection. </b> <i> Proceedings of the 11th International Conference on Informatics in Control, Automation and Robotics (ICINCO’2014), Vienna, Austria. </i> Vol. 1, pp. 699–703. [<a target="_blank" href="/documents/brester_icinco_2014_2_1_2.pdf">pdf</a>] </p>

<p class="publication"> Brester C., Semenkin E., Sidorov M. (2014) <b> Speech-based emotion recognition: Application of collective decision making concepts. </b> <i> Proceedings of the International Conference on Computer Science and Artificial Intelligence (ICCSAI2014), Wuhan, China, </i> pp. 216–220. [<a target="_blank" href="/documents/brester_iccsai_2014_1_2.pdf">pdf</a>] </p>

<p class="publication"> Brester C., Semenkin E., Sidorov M., Minker W. (2014) <b> Self-adaptive multi-objective genetic algorithms for feature selection. </b> <i> Proceedings of International Conference on Engineering and Applied Sciences Optimization, Kos Island, Greece, </i> pp. 1838–1846. [<a target="_blank" href="/documents/brester_opt-i_2014_1_2.pdf">pdf</a>] </p>

<p class="publication"> Sidorov M., Brester C., Minker W., Semenkin E. (2014) <b> Speech-Based Emotion Recognition: Feature Selection by Self-Adapted Multi-Criteria Genetic Algorithm. </b> <i> Proceedings of the 9th edition of the Language Resources and Evaluation Conference (LREC), Reykjavik, Iceland, </i> pp. 3481-3485. [<a target="_blank" href="/documents/brester_lrec_2014.pdf">pdf</a>] </p>

	</div>

</body>


{% for post in paginator.posts %}
  {% include archive-single.html %}
{% endfor %}

{% include paginator.html %}
