---
layout: archive
author_profile: true
header:
 image: 5295.png

---

  <style>
   .aboutme {
    color: #323232; /* Цвет символа */
    font-size: 75%; /* Размер шрифта */
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
   } 

  </style>

{% include base_path %}

<h3 class="archive__subtitle"> About me </h3>


<!---<h3 class="archive__subtitle">Recent Posts</h3>-->
<p class="aboutme"> I am a PhD student working on the epidemiological predictive modeling at the University of Eastern Finland. I am a member of <a target="_blank" href="https://www.linkedin.com/in/mikkokolehmainen/">Mikko Kolehmainen</a>'s research group of <a target="_blank" href="http://www.uef.fi/en/web/envi">Environmental Informatics</a>. My expertise includes data-driven modeling and evolutionary algorithms applied to various practical problems such as cardiovascular predictive modeling, human emotion recognition from speech, predicting bacterial abundances in drinking water distribution systems, fault and load prediction in energy grids (see <a target="_blank" href="/_pages/publications/"> Publications</a>). </p> 
<p class="aboutme"> I participated in Finnish, Russian and international scientific projects (German-Russian, Finnish-Russian). Also I was funded as a leader of some projects (see <a target="_blank" href="/_pages/projects/"> Projects</a>). In addition to academia, I have experience in the software industry – I worked in the IT-company as a system analyst (see <a target="_blank" href="/documents/CV_Brester.pdf"> CV</a>).</p> 
<p class="aboutme">I like investigating different cultures and languages – both natural and programming.</p> 


{% for post in paginator.posts %}
  {% include archive-single.html %}
{% endfor %}

{% include paginator.html %}
