---
layout: archive
author_profile: true
header:
 image: 5295.png

---

  <style>
   .aboutme {
    color: #323232; /* Цвет символа */
    font-size: 75%; /* Размер шрифта */
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
   } 

  </style>

{% include base_path %}

<h3 class="archive__subtitle"> About me </h3>


<div class="masthead">
  <div class="masthead__inner-wrap">
    <div class="masthead__menu">
      <nav id="site-nav" class="greedy-nav">
        <button><div class="navicon"></div></button>
        <ul class="visible-links">
          <li class="masthead__menu-item masthead__menu-item--lg"><a href="http://christinabrester.com">Ch. Brester</a></li>
          
            
            <li class="masthead__menu-item"><a href="http://christinabrester.com/_pages/publications/">Publications</a></li>
          
            
            <li class="masthead__menu-item"><a href="http://christinabrester.com/_pages/projects/">Projects</a></li>
          
            
            <li class="masthead__menu-item"><a target="_blank" href="http://christinabrester.com/documents/CV_Brester.pdf">CV</a></li>
          
            
            <li class="masthead__menu-item"><a href="http://christinabrester.com/_pages/interests/">Interests</a></li>
          
        </ul>
        <ul class="hidden-links hidden"></ul>
      </nav>
    </div>
  </div>
</div>

<!---<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "About me" }}</h3>-->
<p class="aboutme"> I completed my doctoral thesis at the <a target="_blank" href="http://en.sibsau.ru"> Reshetnev Siberian State Aerospace University </a> under the supervision of <a target="_blank" href="https://scholar.google.com/citations?user=nhUuuNQAAAAJ&hl=th"> Prof. Eugene Semenkin</a> and received my PhD degree in 2016 from the <a target="_blank" href="http://www.sfu-kras.ru/en"> Siberian Federal University</a> and the  <a target="_blank" href="http://icm.krasn.ru/index.php?lang=eng"> Institute of Computational Modeling of Siberian Branch of Russian Academy of Sciences</a>. The topic of my dissertation is “Cooperative Evolutionary Method for Multi-Objective Optimization in Speech Analysis”. My scientific interests include Data Analysis, Machine Learning, Neural Network Modeling, Evolutionary Algorithms, and Multi-Objective Optimization (see <a target="_blank" href="/_pages/publications/"> Publications</a>). </p>
<p class="aboutme"> Currently, I am a researcher and docent teaching Mathematical Analysis and Algebra at the Reshetnev Siberian State University. I take part in Russian and international scientific projects (German-Russian, Finnish-Russian) as a member of a research group. Also I was funded as a leader of some projects. In addition to academia, I have experience in the software industry – I worked in the IT-company as a System Analyst (see <a target="_blank" href="/_pages/projects/"> Projects</a> and <a target="_blank" href="/documents/CV_Brester.pdf"> CV</a>). </p>
<p class="aboutme"> I like investigating different cultures and languages – both natural and programming. I tend to be global and have a strong wish to be a valuable member of an international startup (see <a target="_blank" href="/_pages/interests/"> Interests</a>). </p>


{% for post in paginator.posts %}
  {% include archive-single.html %}
{% endfor %}

{% include paginator.html %}
